.Products {
  margin-top: 100px;
}
.filter-panel-col {
  display: none;
}

.drawerFilterBtn {
    position: fixed;
    top: 200px;
    left: -15px;
    z-index: 2;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 0 20px 20px 0;
    transition: var(--transition-duration);
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.drawerFilterBtn:hover{
    left: -5px;
    background-color: white;
    color: black;
}